#global-nav-warp {
    width: 100%;
    background: #2e3332;
    
}
#global-nav-warp #global-nav-content {
    width: 1200px;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 14px;
    color: #848e95;
}
#global-nav-warp #global-nav-content #global-nav-logo {
    float: left;
    height: 40px;
    margin-top: 8px;
}
#global-nav-warp #global-nav-content #global-nav-logo:after {
    clear: both;
}
#global-nav-warp #global-nav-content #global-nav {
    text-align: center;
    padding: 15px 0;
}
#global-nav-warp #global-nav-content #global-nav li {
    display: inline-block;
    padding: 0 5px;
}
#global-nav-warp #global-nav-content #global-nav .global-nav-button {
    display: block;
    padding: 7px 17px;
    text-decoration: none;
    color: #848e95;
}
#global-nav-warp #global-nav-content #global-nav .global-nav-button:hover {
    background-image: -webkit-linear-gradient( #6a6a6a, #3e3e3e);
    background-image: -moz-linear-gradient( #6a6a6a, #3e3e3e);
    background-image: -ms-linear-gradient( #6a6a6a, #3e3e3e);
    background-color: #5c5c5c;
    border-radius: 5px;
}

#global-nav-warp #global-nav-content #global-nav .global-nav-button:active {
    background: #16181a;
    border-radius: 5px;
    color: #ffffff;
}

#global-nav-warp #global-nav-content #global-nav .global-nav-button-selected {
    background: #16181a;
    border-radius: 5px;
    color: #ffffff;
}
#global-nav-warp #global-nav-content #global-nav-contact {
    float: right;
    margin-top: 20px;
}
#global-nav-warp #global-nav-content #global-nav-contact:after {
    clear: both;
}
#global-nav-warp #global-nav-content #global-nav-contact #master-name {
    vertical-align: top;
    line-height: 20px;
    margin-left: 15px;
}
#global-nav-warp #global-nav-content #global-nav-contact img {
    margin-right: 6px;
}
#header-img {
    display: block;
    margin: 30px auto;
}
/*
 #global-nav-warp #global-nav-content #global-nav-contact a {
 display: inline-block;
 margin: 0 3px;
 width: 19px;
 height: 19px;
 }
 #global-nav-warp #global-nav-content #global-nav-contact #renren {
 background: url("../images/renren.png");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #qq {
 background: url("../images/qq.gif");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #douban {
 background: url("../images/douban.gif");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #weibo {
 background: url("../images/weibo.gif");
 }
 */
#nav-wrap {
    width: 1200px;
    margin: 0 auto;
}
#nav-wrap #nav-primary {
    word-spacing: -6px;
}

#nav-wrap #nav-primary li {
    display: inline-block;
}

#nav-wrap #nav-primary .nav-primary-button {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #848e95;
    width: 40px;
    text-align: center;
}
#nav-wrap #nav-primary .nav-primary-button:active {
    background: #eb5b36;
    color: #848e95;
}

#nav-wrap #nav-primary .nav-primary-button-selected {
    background: #f76f4b;
    color: #ffffff;
}
#nav-wrap #search {
    float: right;
    margin-right: 70px;

}
#nav-wrap #search-input {
    outline: none;
    padding: 5px 10px;
    border: 0;
    background: transparent;
}

#nav-wrap #search-warp {
    display: inline-block;
    background: #f8f8f8;
    padding: 5px 3px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 0px 0 #fff, 0px 0px 0 rgb(196, 196, 196), 0px 0px 10px rgba(0, 0, 0, .1);
}
#nav-wrap #search-button {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 15px;
    vertical-align: bottom;
    background: url(../images/search.png) no-repeat -1px;
}
#nav-wrap: after {
    clear: both;
}

#content {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}