#global-nav-warp {
    width: 100%;
    background: #2e3332;
}
#global-nav-warp #global-nav-content {
    width: 1200px;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 14px;
    color: #848e95;
}
#global-nav-warp #global-nav-content #global-nav-logo {
    float: left;
    height: 40px;
    margin-top: 8px;
}
#global-nav-warp #global-nav-content #global-nav-logo:after {
    clear: both;
}
#global-nav-warp #global-nav-content #global-nav {
    width: 600px;
    margin: 0 auto;
    padding: 15px 0;
}
#global-nav-warp #global-nav-content #global-nav li {
    display: inline-block;
    padding: 0 5px;
}
#global-nav-warp #global-nav-content #global-nav .global-nav-button {
    display: block;
    padding: 7px 17px;
    text-decoration: none;
    color: #848e95;
}

#global-nav-warp #global-nav-content #global-nav .global-nav-button: active {
    color: #962C2C;
}

#global-nav-warp #global-nav-content #global-nav .global-nav-button-hover {
    background: #16181a;
    border-radius: 5px;
    color: #ffffff;
}
#global-nav-warp #global-nav-content #global-nav-contact {
    float: right;
    margin-top: 20px;
}
#global-nav-warp #global-nav-content #global-nav-contact:after {
    clear: both;
}
#global-nav-warp #global-nav-content #global-nav-contact #master-name {
    vertical-align: top;
    line-height: 20px;
    margin-left: 15px;
}
#global-nav-warp #global-nav-content #global-nav-contact img {
    margin-right: 6px;
}
#header-img {
    display: block;
    margin: 30px auto;
}
/*
 #global-nav-warp #global-nav-content #global-nav-contact a {
 display: inline-block;
 margin: 0 3px;
 width: 19px;
 height: 19px;
 }
 #global-nav-warp #global-nav-content #global-nav-contact #renren {
 background: url("../images/renren.png");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #qq {
 background: url("../images/qq.gif");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #douban {
 background: url("../images/douban.gif");
 }
 #global-nav-warp #global-nav-content #global-nav-contact #weibo {
 background: url("../images/weibo.gif");
 }
*/
#nav-wrap {
    width: 1200px;
    margin: 0 auto;
}

#nav-wrap #nav-primary li{
    display: inline-block;
    margin-right: 10px;
}

#nav-wrap #nav-primary .nav-primary-button {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #848e95;
}

#nav-wrap #nav-primary .nav-primary-button-hover {
    background: #f76f4b;
    color: #ffffff;
}

#nav-wrap #search {
    float:right;
    padding: 5px 3px;
}

#nav-wrap: after {
    clear: both;
}
#content {
    width:1200px;
    padding: 0 10px;
    margin: 0 auto;
}