#content {
    color: #999999;
}
#content #content-title {
    color: #F86F4B;
    font-weight: bolder;
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
}
#content #content-sidebar {
    float: right;
    position: relative;
    top: 100px;
    right: 40px;
}
#content #content-sidebar:after {
    clear: both;
}
#content #content-sidebar .content-sidebar-wrap {
    width: 240px;
}
#content #content-sidebar .content-sidebar-header {
    padding-bottom: 10px;
    border-bottom: 2px solid #999999;
    font-size: 16px;
    font-weight: bolder;
    width: 180px;
    margin-bottom: 20px;
}
#content #content-sidebar .csh-label {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0;
    background: #ddd;
}
#content #content-sidebar .csh-feature {
    display: inline-block;
    width: 240px;
    height: 60px;
    margin: 0 0 10px 0;
    background: #ddd;
}
#content .news {
    display: inline-block;
    width: 550px;
    margin-top: 25px;
    border-radius: 10px;
    border: solid 1px #dddddd;
    background: #ffffff;
    box-shadow: 0px 0px 0 #fff, 0px 0px 0 rgb(196, 196, 196), 0px 0px 10px rgba(0, 0, 0, .1);
}
#content .time-comment {
    position: relative;
    vertical-align: top;
    top: 60px;
    display: inline-block;
    border-top: 2px solid #999999;
    width: 100px;
    padding-top: 10px;
    font-size: 14px;
    margin-right: 8px;
    text-align: right;
}
#content .time-comment .comment-icon {
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 23px;
}
#content .time-comment .news-date-image {
    background: url(../images/date.png) no-repeat;
}
#content .time-comment .news-collect-image {
    background: url(../images/collect.png) no-repeat;
    text-indent: 20px;
}
#content .time-comment .news-like-image {
    background: url(../images/like.png) no-repeat;
}

#content .news .news-topic {
    margin: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #999999;
    font-size: 24px;
    font-weight: bolder;
}
#content .news .news-content {
    margin: 0 25px 25px 100px;
    line-height: 20px;
}
#content .news .news-content .news-image {
    width: 100%;
}
#pagination {
    position: relative;
    width: 552px;
    left: 112px;
    margin-top: 20px;
    background: rgba(142, 142, 143, 0.25);
    padding: 10px 0;
    text-align: center;
}
#pagination a {
    text-decoration: none;
    color: #999999;
}
#pagination .pagination-button {
    font-size: 24px;
    font-weight: bolder;
    margin: 0 6px;
}
#pagination .pagination-button:active {
    color: #3E3E3E;
}
#pagination .page-num {
    display: inline-block;
    text-align: center;
    vertical-align: 10%;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background: rgba(142, 142, 143, 0.25);
}
#pagination .page-num-selected {
    background: #f76f4b;
    color: #ffffff;
    box-shadow: 0px 0px 0 #fff, 0px 0px 0 rgb(196, 196, 196), 0px 0px 10px rgba(0, 0, 0, .3);
}
#pagination .page-num:active {
    background: #f76f4b;
    color: #ffffff;
    box-shadow: 0px 0px 0 #fff, 0px 0px 0 rgb(196, 196, 196), 0px 0px 10px rgba(0, 0, 0, .3);
}
#pagination li {
    display: inline-block;
}
#pagination #pageNum {
    width: 30px;
    vertical-align: text-bottom;
}
#loadingImg {
    position: relative;
    left: 270px;
    margin-top: 20px;
}